.profile {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    // height: 20em;
    // background-color: brown;
    background-color: $gray;
    
    
    .bg-light {
        display: flex;
        width: 100%;
        background-color: $gray;
        .container-fluid{
            .logoProfile{
                display: flex;
                justify-content: start;
            
                // background-color: brown;

                height: 5em;
                width: 8em;
                // margin-top: 0.6em;
                .logoPfl {
                    cursor: pointer;
        
        
                }
            }
            .collapse {
                .navbar-nav {
                    .nav-item {
                        margin-left: 7em;
                    }
                }
                .d-flex{
                    margin-left: 8em;
                }
            }
        }

    }
}