.nvb {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: yellow !important;
    
    .bg-light {
        display: flex;
        width: 100%;
        background-color: $gray;
        .container-fluid{
            .logoProfile{
                display: flex;
                justify-content: start;
                height: 5em;
                width: 8em;
                
                .logoPfl {
                    cursor: pointer;
                }
            }
            .collapse {
                .navbar-nav {
                    gap:5rem;   
                }
            }
        }
    }
}
@media screen and (min-width: 375px){
    .nvb .bg-light .container-fluid .collapse .navbar-nav{
        gap:1rem;

    }
}